extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Brian Crowe

        p Full Stack JavaScript Developer


        .about-bio

          p Hi, I’m Brian Crowe, a solutions-oriented software engineer with a strong background in leadership and problem solving. Today, I focus on building full stack applications using JavaScript, React, Node.js, and MongoDB, and I enjoy tackling complex challenges with creative, efficient solutions.

          p Before becoming a developer, I served in the U.S. Air Force, where I trained operators, developed tactics, and thrived in high-stakes environments. Later, I completed General Assembly’s Software Engineering Immersive Bootcamp and advanced my skills through Team Treehouse’s Full Stack JavaScript Tech Degree.

          p Looking ahead, I’m excited to contribute to projects where I can leverage my technical skills, adaptability, and relentless drive to make an impact—whether that’s improving user experiences, building scalable systems, or creating tools that serve the user.

          p Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li ejs

        h6 Contact Info

        ul
          li 781-491-3161
          li brian.j.crowe@protonmail.com

        a.btn-link(href='https://www.linkedin.com/in/brian-j-crowe/') LinkedIn
        a.btn-link(href='https://github.com/Crowe-Brian-J') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back