extends layout.pug

block content
  .error-page
    h1 Page Not Found
    if err && err.status
      h2 Error #{err.status}
    if err && err.message
      p= err.message
    if err && err.stack
      pre= err.stack 
    nav.nav
      a(href='/')
        span &larr;
        | Back to Home
