/* ----- Custom Styles ----- */

/* 1. Change color for sidebar h5/header/projects-box cell h5 */
#my-info.sidebar h5, .header, .projects-box .cell h5 {
  color: #2774ae;
}

/* 2. Change background color of sidebar and header */
.sidebar, .header {
  background: #081823;
}

/* 3a. Make project thumbnails grayscale by default */
.projects-box .cell img.thumbnail {
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

/* 3b. On hover, show full color, */
.projects-box .cell img.thumbnail:hover {
  filter: grayscale(0%);
}